UnityProject/[Ll]ibrary/
UnityProject/[Tt]emp/
UnityProject/[Oo]bj/
UnityProject/[Ll]ogs/
UnityProject/[Uu]ser[Ss]ettings/
Builds/
/build/
UnityProject/Builds/
UnityProject/.vs/
UnityProject/.idea/
*.ulf
*.alf
*.p12
*.pem
*.key
.env
.env.*
UnityProject/*.csproj
UnityProject/*.sln
.DS_Store
